@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  display: flex;
  flex-direction: column;
  height: 100vh;
  margin: 0;
  overflow: hidden;
  font-family: Roboto, sans-serif;
}

img {
  width: 600px;
}

button {
  font-family: Roboto, sans-serif;
  border: none;
  border-radius: 8px;
  background: #eee;
  padding: 16px 24px;
}

input {
  border: 1px solid #ddd;
  border-radius: 16px;
  padding: 8px 24px;
  width: 400px;
}

ul {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 16px;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: rgb(125, 125, 125);
}

.header, .footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 16px;
}

.content {
  display: flex;
  flex: 1;
  justify-content: center;
  flex-direction: column;
  gap: 24px;
  margin: 0 auto;
  text-align: center;
}

.footer {
  background-color: #eeeeee;
}


