body {
  background: #eee;
  font-family: sans-serif;
}

.card {
  width: 400px;
  background: #fff;
  margin: 16px auto;
  padding: 12px 8px 8px;
}

.title {
  background: #e3f4ff;
  font-size: 16px;
  
}

.content {
  background: #e3f4ff;
  
}

.title, .content {
  padding: 16px;
  margin-bottom: 8px;
}

.button-container {
  background: #e3f4ff;
  padding-block: 12px;
  text-align: center;
}

button {
  display: block;
  background: white;
  border: 1px solid #eee;
  margin: 0 auto;
  padding-block: 8px;
  padding-inline: 16px;
}